<?php

return array(
	'host'=>'http://localhost/whmcs',
	'username'=>'test',
	'password'=>'test',
	'db'=>array(
		'driver'    => 'mysql',
		'host'      => 'localhost',
		'database'  => 'whmcs',
		'username'  => 'root',
		'password'  => '',
		'charset'   => 'utf8',
		'collation' => 'utf8_unicode_ci',
		'prefix'    => '',
	)
);